[user]
	name = Coreen Yuen
	email = <insert appropriate email here>
[push]
	default = matching
[alias]
	a = add
	ah = commit --amend -C HEAD
	b = branch
	bd = branch -D
	c = commit
	ca = commit --amend
	cl = clone
	cm = commit -m
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	d = diff
	dm = diff master 
	f = fetch
	fp = push origin -f
	ft = fetch --tags -f -p
	l = log
	ld = diff --name-only
	ldm = diff master --name-only
	p = push -u origin
	pl = pull origin
	pr = remote prune origin
	rb = rebase
	rbi = rebase -i HEAD~5
	rbm = rebase master
	rh = reset HEAD .
	s = status
	sh = stash
	sp = stash pop
	t = tag
[color]
	ui = true
[core]
	excludesfile = $HOME/.gitignore_global
	autocrlf = input
[pager]
	branch = false
