[push]
	default = matching
[alias]
	a = add
	ah = commit --amend -C HEAD
	b = branch
	bd = branch -D
	c = commit -m
	co = checkout
	cob = checkout -b
	cp = cherry-pick
	d = diff
	dm = diff master 
	f = fetch
	fp = push origin -f
	l = log
	ld = diff --name-only
	ldm = diff master --name-only
	p = push origin
	pl = pull origin
	rb = rebase
	rbm = rebase master
	rh = reset HEAD .
	s = status
	sh = stash
	sp = stash pop
[color]
	ui = true
[core]
	excludesfile = $HOME/.gitignore_global
	autocrlf = input
